/* participaciones */
#participamos-list .thumb {
  height: 25rem;
  background: #929493;
}

#participamos-list > .row:nth-child(odd) > div:nth-child(even) {
  background: #ADADAD;
}

#participamos-list > .row:nth-child(even) > div:nth-child(odd) {
  background: #ADADAD;
}

/* proyectos */
#proyectos-list .thumb {
  height: 22rem;
  background: #929493;
}

#proyectos-list > .row:nth-child(odd) > div:nth-child(even) {
  background: #848685;
}

#proyectos-list > .row:nth-child(even) > div:nth-child(odd) {
  background: #848685;
}

.proyecto-logo-cliente img{
  max-height: 100px;
  width: auto;
}

/* soluciones */
.picture-fluid {
  max-width: 100%;
  height: auto;
}

/* carousel */
.carousel-custom {
  height: 27rem !important;
  background: #BCBABB;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 2.3rem;
  height: 2.3rem;
}

#clientes .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ccc' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

#clientes .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ccc' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

/* profiles */
#nosotros.paragraph p {
  text-align: center;
}

.profile {
  text-align: center;
}

.profile h5 {
  font-size: 1em;
  margin: 0;
}

.profile h6 {
  font-size: 0.9em;
  margin: 0;
}

.profile b {
  color: #23afe1;
  font-family: kelsonBold;
  font-size: 0.7em;
  margin: 0;
}

.profile-pic img {
  max-width: 175px;
  min-height: 175px;
}

/* elementos de articulos */
p.article {
  font-size: 1.3rem;
}

.article-head h3 {
  font-family: KelsonRegular;
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 0.05rem;
  width: 75%;
}

.article-head a {
  color: #BCBABB !important;
  font-family: kelsonBold;
  font-size: 0.7em;
}

.article-head p {
  font-size: 0.8em;
}

.article-head hr {
  border-color: #aaaaaa;
}

.article-share > a:not(:last-child) {
  margin-right: 1rem
}

.article-share  a:hover {
  text-decoration: none;
  opacity:0.5;
  -webkit-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

.article-text p{
  display: block;
  margin-bottom: 1rem
}

.subtitle-nav {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.subtitle-caption {
  font-size: 0.8em;
}

.subtitle-nav .xx {
  position: absolute;
  width: 70%;
  left: 15%;
  top: 60%
}

.subtitle-nav .subtitle-main {
  position: absolute;
  left: 50%; 
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.subtitle-link, .subtitle-nav a {
  color: #BCBABB !important;
  font-size: 0.6em;
  margin-top: 2rem;
  cursor: pointer;
}

.article-desc {
  width: 80%;
}
/* informacion del autor, debajo del titulo del post */
.autor-info {
  display: flex
}

.autor-info img{
  border-radius: 50%;
  height: 65px;
  width: auto;
}

.autor-bio {
  margin-left: 0.5rem;
  padding-top: 0.5rem;
}

.autor-bio p{
  font-size: 0.7em;
  line-height: 0.7em;
}

.bg-tag-success {
  background: #00E21F;
}

.bg-tag-warning {
  background:#F2B72F;
}

.pointer-success {
  border-right: 1.2rem solid #00E21F;
}

.pointer-warning {
  border-right: 1.2rem solid #F2B72F;
}

.pointer-wrapper {
  position: relative;
}

.pointer {
  color: #fff;
  height: 2rem;
  font-family: kelsonBold;
  border-style: none;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding-top: 0.4rem ;
  padding-bottom: 0.4rem ;
  text-align: center;
  margin-left: 1.2rem;
}

.pointer-tip {
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  position: absolute;
}

/* table */
#table {
  border: solid 0.15rem #000;
  border-bottom: none;
}

.thead {
  background: #23AFE2;
  color: white;
  border-bottom: solid 0.15rem #000;
  font-family: kelsonBold;
}

.thead > div:first-child {
  border-right: solid 0.15rem #000;
  padding: 0.8em;
}

.thead > div:last-child {
  padding: 0.8em;
  border-right: none;
}

.th {
  background: #F3D707;
  padding: 0.8rem;
  font-family: kelsonBold;
  border-bottom: solid 0.15rem #000;
  border-right: solid 0.15rem #000;
  width: 100%;
}

.td {
  padding: 0.8rem;
  border-bottom: solid 0.15rem #000;
}

/* media queries */

@media (max-width: 991px){
  .article-head h3, .article-desc {
    width: 100%;
  }

  .subtitle-nav .xx {
    width: 100%;
    left: 0%;
  }
}

@media (max-width: 750px) {
  .soluciones-img {
    overflow-x: scroll;
  }

  .picture-fluid {
    max-width: initial;
    height: initial;
  }
}

@media (max-width: 575px){
  
  .subtitle-nav .subtitle-main {
    width: 100%;
    left: 50%; 
    top: 40%;
  }

  .th {
    border-right: none;
  }

  .thead {
    text-align: center
  }
  
  .thead > div:first-child {
    border-right: none;
    padding-bottom: 0em;
  }

  .thead > div:last-child {
    padding-top: 0em;
  }
}